<html>
        
	<link rel="stylesheet" href="stylesolar.css">
	<title> LOGIN </title>

    <body background="imgs/bg4.JPG">
   
        <form method="get" action="choice.html">
		
            <div class="display-container">
               <table style="width:100%" border="1">
				  <tr>
					<th rowspan="2">Payment Status (%PAID)</th>
					<th rowspan="2">Region</th> 
					<th rowspan="2">Province</th>
					<th rowspan="2">Municipality</th>
					<th rowspan="2">Barangay</th>
					<th rowspan="2">Registered Landowner</th>
					<th rowspan="2">Payee</th>
					<th rowspan="2">Title No.</th>
					<th rowspan="2">Area(hectares)</th>
					<th rowspan="2">Sale Price Per Hectare</th>
					<th rowspan="2">Total Contract Price</th>
					<th colspan="2">1st Payment</th>
					<th colspan="2">2nd Payment</th>
					<th colspan="2">3rd Payment</th>
					<th colspan="2">4th Payment</th>
					<th colspan="2">5th Payment</th>
					<th colspan="2">6th Payment</th>
					<th colspan="2">7th Payment</th>
					<th colspan="2">8th Payment</th>
					<th colspan="2">9th Payment</th>
					<th colspan="2">10th Payment</th>
					<th rowspan="2">Released Payment</th>
					<th rowspan="2">Balance</th>
					<th colspan="2"> BIR</th>
					<th rowspan="2">LGU</th>
					<th colspan="2">ROD</th>
					<th rowspan="2">Others</th>
					<th rowspan="2">Sum of other expenses</th>
					<th rowspan="2">Taxes and other Fees</th>
				  </tr>
				  
				  <tr>
					
					<th>Amount</th>
					<th>Date Released</th>
					<th>Amount</th>
					<th>Date Released</th>
					<th>Amount</th>
					<th>Date Released</th>
					<th>Amount</th>
					<th>Date Released</th>
					<th>Amount</th>
					<th>Date Released</th>
					<th>Amount</th>
					<th>Date Released</th>
					<th>Amount</th>
					<th>Date Released</th>
					<th>Amount</th>
					<th>Date Released</th>
					<th>Amount</th>
					<th>Date Released</th>
					<th>Amount</th>
					<th>Date Released</th>
					<th> CGT(6%)</th>
					<th>DST(3%)</th>
					<th>Transfer Fee(1%)</th>
					<th>LRA Fee(1%)</th>
					<th>I.T Fee</th>
					<th>Notorial Fee(1%)</th>
					
				  </tr>
				 
				  
				  
				  
				  
				</table>
            </div>
        </form>
    </body>
	
	
</html>